{% extends "page.html" %}

{% block content %}
<br>
<h3>Stats for nerds</h3>
<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th scope="col">Area</th>
      <th scope="col">Progress</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Level Up</td>
      <td>210/260 ok actually more idk wtf happened</td>
    </tr>
    <tr>
      <td>Artifacts</td>
      <td>little/a lot</td>
    </tr>
    <tr>
      <td>Evolution</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Equipment</td>
      <td>Missing white</td>
    </tr>
  </tbody>
</table>

{% endblock %}
