{% extends "page.html" %}





{% block content %}

<script src="static/js/actions.js"></script>

<table class="table table-sm table-responsive table-bordered">
    <thead>
        <tr>
            {% for heading in headings %}
            <th scope="col">{{ heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% for item in items %}
        <tr id="item{{item[0]}}" data-toggle="modal" data-target="#itemModal" data-item="{{item}}" <!--onclick="loadItem('item{{item[0]}}');"--></tr>
            {% for entry in item %}
            <td>{{ entry }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal 
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    {% for entry in items[0][1:] %}
                    <tr>
                        <td>{{ headings[loop.index0] }}</td>
                        <td id="itemAttr{{loop.index0}}"><input type="text" value="{{ entry }}"></td>
                    </tr>
                    {% endfor %}
                </table>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}