@font-face {
    font-family: 'You Blockhead';
    src: url('YouBlockhead.eot');
    src: local('You Blockhead'), local('YouBlockhead'),
        url('YouBlockhead.eot?#iefix') format('embedded-opentype'),
        url('YouBlockhead.woff2') format('woff2'),
        url('YouBlockhead.woff') format('woff'),
        url('YouBlockhead.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'You Blockhead Open';
    src: url('YouBlockheadOpen.eot');
    src: local('You Blockhead Open'), local('YouBlockheadOpen'),
        url('YouBlockheadOpen.eot?#iefix') format('embedded-opentype'),
        url('YouBlockheadOpen.woff2') format('woff2'),
        url('YouBlockheadOpen.woff') format('woff'),
        url('YouBlockheadOpen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'You Blockhead Caps';
    src: url('YouBlockheadCaps.eot');
    src: local('You Blockhead Caps'), local('YouBlockheadCaps'),
        url('YouBlockheadCaps.eot?#iefix') format('embedded-opentype'),
        url('YouBlockheadCaps.woff2') format('woff2'),
        url('YouBlockheadCaps.woff') format('woff'),
        url('YouBlockheadCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'You Blockhead Caps Open';
    src: url('YouBlockheadCapsOpen.eot');
    src: local('You Blockhead Caps Open'), local('YouBlockheadCapsOpen'),
        url('YouBlockheadCapsOpen.eot?#iefix') format('embedded-opentype'),
        url('YouBlockheadCapsOpen.woff2') format('woff2'),
        url('YouBlockheadCapsOpen.woff') format('woff'),
        url('YouBlockheadCapsOpen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

